* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Para ocupar toda a altura da tela */
    background-color: aqua;
    align-items: center;
}

.content {
    text-align: center;
    margin: 30px auto;
    width: 700px;
    background-color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    color: inherit; /* Herda a cor do texto padrão */
}

.header {
    background-color: rgb(6, 25, 90);
    text-align: center;
    padding: 25px;
    width: 100%;
    color: white;
}

.container {
    width: 390px;
    padding: 30px;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.container label {
    text-align: center;
}

.container input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.container h1{
    text-align: center;
}

footer {
    background-color: rgb(6, 25, 90);
    text-align: center;
    color: white;
    width: 100%;
    padding: 40px 10px;
   margin-top: 35px;
}